.container {
  .logo {
    max-width: 400px;

    img {
      max-width: 400px;
    }
  }

  .share-box {
    font-size: 2em;

    mat-icon {
      cursor: pointer;
      user-select: none;
    }
  }
}
